backgroundStyle {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    background-image: url("../images/poza.jpg");
}

textStyle {color: white;
    align: 'middle'
}

.right {
    float: right;
}

footer {
    position: fixed;
    bottom: 0;
    height: 300px;
    width: 100%;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    text-align: right;
    bottom:0;
}